[Unit]
Description=PicoClaw Gateway Service
After=network.target

[Service]
ExecStart=/home/pi/picoclaw/build/picoclaw-linux-armv7 gateway
WorkingDirectory=/home/pi/picoclaw
Restart=always
RestartSec=10
User=pi
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=multi-user.target
